@font-face {
  font-family: norse-bold;
  src: url("./fonts/Norse-Bold.otf");
}

body {
  margin: 0;
  padding: 0;
  color: #2e2f2f;
  font-family: norse-bold, arial, bold;
  font-size: 3.0vh;
}

#title {
  text-align: center;
  
  
}

#description {
  text-align: center;
  color: #2e2f2f;
  font-family: arial;
}

#main-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

#right-container {
  background-color: #f9fafb;
  display: flex;
  flex-direction: column;
  width: 65vw;
  height: 100vh;
}

#author {
  opacity: 100%;
  color: #ffffff;
  text-align: center;
  font-size: 2vh;
  margin-top: 60vh;
}

#top-container {
  height: 25vh;
  padding: 5vh;
}

#survey-form {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  font-family: arial;
  font-size: 1.5vh;
  font-style: bold;
  color: #2e2f2f;
  box-shadow: 1.2vh 1.3vh 1.1vh black;
}

#odin {
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  padding: 5vh;
  height: 15vh;
  background-color: rgba(0, 0, 0, 0.643);
  gap: 0;
}

#odin-logo {
  background-image: url("https://cdn.statically.io/gh/TheOdinProject/curriculum/5f37d43908ef92499e95a9b90fc3cc291a95014c/html_css/project-sign-up-form/odin-lined.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0;
  width: 15vh;
  height: 15vh;
}

#odin-text {
  margin: auto 0;
  font-family: norse-bold, arial, bold;
  font-size: 10vh;
  color: white;
}


#bottom-container {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: right;
}

#submit {
  margin-left: 5vw;
  border: none;
  background-color: #596d48;
  color: #ffffff;
  width: 20vh;
  padding: 1vh;
}

#submit:hover {
  background-color: rgba(59, 73, 47, 0.643)
}

#myimg {
  background-image: url("https://images.unsplash.com/photo-1585202900225-6d3ac20a6962?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-size: cover;
  width: 35vw;
  height: 100vh;
}

label {
  display: block;
  margin: 1vh;
  text-align: center;
}

input, select, textarea, button {
  display: block;
  padding: 1vh 5vw;
  padding-left: 1vw;
  width: auto;
  background-color: #ffffff90;
  border-style: solid;
  border-radius: 0.5vh;
  border-color: #e5e7eb;
  border-width: 0.5vh;
  margin: auto;
  font-family: arial;
  font-size: 2vh;
}

.radios, .checkboxes {
  display: inline;
  margin: auto, 1vw;
  width: 1.5vw;
  height: 1.5vh;
  border: 1vh;
}

.check {
  text-align: right;
  font-size: 1,5vh; 
  border-radius: 1vh;
}

#myboxes {
  margin: 0;
  
}

.rowBut {
  display: flex;
  flex-direction: row;
}

#bottom-form{
  justify-content: space-between;
}

input[type='number']{
  width: 100%;
}

a {
  color:#596d48;
}

#number-label {
  width: 22vh
}